extends layout

block content
  h1= title
  ul 'Following Dashboards'
    li 'Pie chart: Monthly Sum of Expenses in that  categ'
    li 'Pie chart: Yearly Sum of Expenses in that  categ '
    li 'Pie chart: Monthly Sum of Expenses in that  bucket '
    li 'Pie chart: Yearly Sum of Expenses in that  bucket '
    li 'Bar/Line chart: Monthly Sum of Expenses in that  categ '
    li 'Bar/Line chart: Yearly Sum of Expenses in that  categ '
    li 'Bar/Line chart: Monthly Sum of Expenses in that  bucket '
    li 'Bar/Line chart: Yearly Sum of Expenses in that  bucket '