extends layout

block content
  h1= 'This is the Monthly View'  
  h1= title
  ul 'Expenses by Month – upload, edit'
    li 'Start with latest month' 
    li 'Separate tabs for each month' 
    li 'Top menu to select a specific month' 
    li 'Upload file, store latest month and update view' 
    li 'Ability to modify sum, category (dropdown), bucket (dropdown)' 
