extends layout

block content
  h1= 'This is the Reports View'  
  h1= title
  ul 'Following Reports'
    li '1 table with 3 rows' 
    li 'Category : Monthly Sum of expenses in that categ:  Yearly Sum of expenses in that categ ' 
    li
    li '1 table with 3 rows' 
    li 'Bucket: Monthly Sum of expenses in that bucket:  Yearly Sum of expenses in that bucket ' 
